@charset "utf-8";
/* CSS Document */
body {padding: 0px;margin: 0px;font-family: "Open Sans",sans-serif;
font-size:13px;
font-weight:400;
line-height:20px;
color:#333;}
#container{width:100%;}
h1{font-size:22px; color:#ff9900; font-weight:400;}
h2{font-size:18px; line-height:22px; color:#ff9900; font-weight:300; padding:0 0 5px 0; margin:20px 0 20px 0;border-bottom:1px dotted #929699;}
a {color: #4d80be;text-decoration: none;border:0px;}
a img{border:0;}

table{font-size:14px; line-height:25px;}
#index{background: url(../images/01-ROI-calculator-passenger-rail-initial-page.jpg) no-repeat top; min-width:1000px; height:870px;}
#result{background: url(../images/02-ROI-calculator-passenger-rail-a.jpg) no-repeat top; min-width:1000px; height:1511px;}
#result-expand{background: url(../images/03-ROI-calculator-passenger-rail-b.jpg) no-repeat top; min-width:1000px; height:1841px;}
#email{background: url(../images/04-email.jpg) no-repeat top; min-width:1000px; height:1120px;}
#pdf{background: url(../images/05-PDF.jpg) no-repeat top; min-width:1000px; height:1920px;}


