HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #99a1a1; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: #000000
}
BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #99a1a1;
	LINE-HEIGHT: 1.2em;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	BACKGROUND-COLOR: #FFFFFF
}
